
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
}

h1 {
    color: #00db30;
    text-align: center;
    margin: 30px 0 20px;
}

table{
    width: 100%;
    background-color: aliceblue;
    border-radius: 8px;
}
td,th{
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #000000;
    border-left: 1px solid#000000;
    border-right: 1px solid #070707;
    border-radius: px;
}
th{
    background-color: #00af26;
    color: #ffffff;
}
td{
    color: rgb(10, 10, 10);
}
p{
    color:rgb(255, 255, 255) ;
}

a {
  display: inline-block; /* Permite aplicar padding y margins */
  padding: 10px 20px;
  margin: 5px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  text-decoration: none; /* Quita el subrayado por defecto */
}
