
    body {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: #000000;
        padding: 20px;
    }

    h1 {
        color: #ffffff;
        text-align: center;
    }

    table {
        width: 80%;
        margin: 20px auto;
        background: white;
        border-radius: 10px;
    }

    th, td {
        padding: 12px;
        text-align: center;
        border-bottom: 1px solid #000000;
        border-left: 1px solid#000000;
        border-right: 1px solid #070707;
        border-radius: px;
    }

    th {
        background-color: #1dce05;
        color: white;
    }
    p{
        color: #ddd;
    }
