<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nuevo cliente</title>
</head>
<body>
    <h1>NUEVO CLIENTE</h1>
    <form action="{{ url_for('nuevo_cliente') }}" method="post">
        <label for="">Nombre</label>
        <input type="text" name="nombre">
        <br>
        <label for="">correo</label>
        <input type="email" name="email" id="">
        <br>
        <button type="submit">Registrar</button>
        <button type="reset">Cancelar</button>
    </form>
</body>
</html>