{% extends "base.html" %}

{% block content %}

    <p><a href="{{url_for(clientes.html)}}">con arry</a></p>
    <p>Total: {{total}}</p>
    <ul>
        {% for cliente in clientes %}
            <li>
                ID:{{cliente.id}}
                Nombre:{{cliente.nombre}}
                Email:{{cliente.email}}
            </li>
        {% endfor %}
    </ul>
    
    <table border="1" cellpadding="5">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
                <tr>
                    <td>{{cliente.id}}</td>
                    <td>{{cliente.nombre}}</td>
                    <td>{{cliente.email}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

</body>
</html>