{% extends "base.html" %}
 
 {% block content %}
     <p><a href="{{url_for('clientes_lista')}}">version con json</a></p>
    <ul>
        {% for cliente in clientes %}
            <li>
                ID:{{cliente[0]}}
                Nombre:{{cliente[1]}}
                Email:{{cliente[2]}}
            </li>
        {% endfor %}
    </ul>

    <table borde="1" cellpading="5">
        <thead>
                    <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
                    {% for cliente in clientes %}
            <tr>
                <td>{{cliente[0]}}</td>
                <td>{{cliente[1]}}</td>
                <td>{{cliente[2]}}</td>
            </tr>
        {% endfor %}
        </tbody>


    </table>
 {% endblock %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

</body>
</html>