{% extends 'base.html'%}
{% block title %}Formulario Registro{%endblock%}

{%block content%}
<h2>Formulario de Registro(En una sola vista)</h2>
    <form action='{url "registro"}' method="post">
        {% csrf_token %}
        <fieldset>
            <legend>Datos Personales</legend>
            <label for="nombres">Nombre:</label><br>
            <input type="text" name="nombre" placeholder="Nombre"><br><br>
            <label for="paterno">Apellido Paterno:</label><br>
            <input type="text" name="paterno" placeholder="paterno"><br><br>
            <label for="materno">Apellido Materno:</label><br>
            <input type="text" name="materno" placeholder="materno"><br><br>
            <label for="fecha_nac">Fecha Nacimiento:</label><br>
            <input type="date" name="fecha_nac" placeholder="fecha de nacimiento"><br><br>
            <label for="ci">Carnet de identidad:</label><br>
            <input type="date" name="ci" placeholder="ci"><br><br>
            <label for="correo">Correo Electronico:</label><br>
            <input type="email" name="correo" placeholder="correo"><br><br>
            <label for="telefono">Telefono:</label><br>
            <input type="tel" name="telefono" placeholder="telefono"><br><br>
            <button type="submit">Enviar</button>
            <button type="reset">Cancelar</button>
        </fieldset>
    </form>
    {%if nombres or paterno or materno or fecha_nac or ci or correo or telefono%}
    <hr>
    <div>
        <h2>Datos Enviados:</h2>
        <p><strong>Nombre completo</strong>{{ nombre_completo }}</p>
        <p><strong>Fecha de Nacimiento:</strong> {{ fecha_nac }}</p>
        <p><strong>Ci:</strong> {{ ci }}</p>
        <p><strong>Correo Electronico:</strong> {{ correo }}</p>
        <p><strong>Telefono:</strong> {{ telefono }}</p>
    {%endif%}
{%endblock%}
